BIOCUBE_DIR=/Volumes/Archivio/biomap_thesis/data/biocube
BIOANALYST_MODEL_DIR=/Volumes/Archivio/biomap_thesis/models/bioanalyst_pretrained
PROJECT_OUTPUT_DIR=/Volumes/Archivio/biomap_thesis/outputs
MPLCONFIGDIR=/Users/simonemercolino/Desktop/Università/Tesi_BioMap/TCBiomap/tesi_bioanalyst_repo/.cache/matplotlib
